<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% if request.user.is_authenticated %} 
    {% with 'puzzles/themes/'|add:request.user.discorduser.chosen_theme|add:'.css' as css_url %}
    <link rel="stylesheet" href="{% static css_url %}" />
    {% endwith %} {% else %}
    <link rel="stylesheet" href="{% static 'puzzles/themes/mocha.css' %}" 2/>
    {% endif %}
    <link rel="stylesheet" href="{% static 'puzzles/style.css' %}" />
    <title>{% block title %}ℝeservoir{% endblock %}</title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'favicon.ico' %}" >
</head>

<body>
    <div class="nav">
        <span class="nav-left">
            {% block nav-left %}
            
            {% endblock %}
        </span>
        <span class="nav-right">
            {% block nav-right %}
            {% if request.user.is_authenticated %} 
            <a href="{% url 'puzzles:userpage' %}">{{ request.user.discorduser.cached_username }}</a>
            {% else %}
            <a href="{% url 'puzzles:login' %}">Login</a>
            {% endif %}
            {% endblock %}
        </span>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>