
<h1>{{ hunt.name }}</h1>
Total Puzzles: <b>{{ hunt.total_puzzles }}</b><br>
Locked Puzzles: <b>{{ hunt.num_locked }}</b><br>
Solved Puzzles: <b>{{ hunt.num_solved }}</b><br>
Avaliable Puzzles: <b>{{ hunt.num_available }}</b><br>
Meta Solves: <b>{{ hunt.meta_solves }}</b><br>

<form autocomplete="off" action="{% url 'puzzles:new_round' hunt.id %}" method="post">
{% csrf_token %}
<label for="new_round">Add New Round</label>
<input class="new_round" name="new_round" maxlength="255"></input>
<input type="submit" value="Add">
</form>

{% for round in hunt.round_set.all %}
<div class="roundinfo" style="border-style: solid;">
    <h2>{{ round.name }}</h2>
    {% for puzzle in round.puzzle_set.all %}
    <div class="puzzleinfo" style="border-style: dotted;">
        {% if puzzle.is_meta %} 
        <b style="color:red">META - </b>
        {% endif %}
        <span class="puzzlename"><a href="{% url 'puzzles:puzzlepage' puzzle.id %}">{{ puzzle.name }}</a></span>
        <br>
        <span class="status_{{ puzzle.status }}">{{ puzzle.get_status_display }}</span>
        {% if puzzle.answer_set.all %}
        (Answer{{puzzle.answer_set.all.count|pluralize}}:
        <span class="answer" style="color: green">
        {{ puzzle.answer_set.all| join:", "}}
        </span>)
        {% endif %}
    </div>
    {% endfor %}
    <div class="newpuzzle" style="border-style: dotted;">
        <form autocomplete="off" action="{% url 'puzzles:new_puzzle' hunt.id round.id %}" method="post">
            {% csrf_token %}
            {{ new_puzzle_form }}
            <input type="submit" value="New Puzzle">
        </form>
    </div>
</div>
{% endfor %}