{% extends "puzzles/base.html" %}
{% load static %}

{% block title %}ℝeservoir - {{ puzzle.name }}{% endblock %}
{% block nav-left %}
<a href="/">Hunts</a> > <a href="{% url 'puzzles:bigboard' puzzle.hunt.id %}">{{ puzzle.hunt.name }}</a> > <b>{{ puzzle.name }}</b>
{% endblock %}
{% block content %}
<h1>{% if puzzle.is_meta %}<span class="meta_name"><b>META</b></span>{% endif %}{{ puzzle.name }}</h1>
<h2>Round{{puzzle.rounds.all.count|pluralize}}: {{ puzzle.rounds.all| join:", "}}</h2>
<button onclick="showForm('update_puzzle_form')">Update Details</button>

<div class="puzzle_tab">
  <button class="puzzle_tab_link" onclick="openTab(event, 'huntpage')">Hunt Page</button>
  <button class="puzzle_tab_link" onclick="openTab(event, 'sheet')" id="default_tab">Sheet</button>
</div>

<div id="huntpage" class="puzzle_tab_content">
  <iframe src="{{ puzzle.url }}", width="100%" height="700px"></iframe>
</div>
<div id="sheet" class="puzzle_tab_content">
  <iframe src="{{ puzzle.sheet_url }}", width="100%" height="700px"></iframe>
</div>

<div id="chat-log" style="background-color: #8883"></div>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">

<div class="popup_form" id="update_puzzle_form">
<form autocomplete="off" action="{% url 'puzzles:update' puzzle.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>Puzzle Details</h3></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {{ update_puzzle_form }}
    {% if puzzle.answer_set.all %}
    Answer{{puzzle.answer_set.all.count|pluralize}}:<br>
    {% for answer in puzzle.answer_set.all %}
    <span class="answer">
    {{ answer.answer_text }}
    </span>  Delete: <input type="checkbox" id="delete_answer_{{ answer.id }}" name="delete_answer_{{ answer.id }}" value="Delete">
    <br>
    {% endfor %}
    {% endif %}
    <button class="cancel_button" onclick="closeForm('update_puzzle_form')" type="button">Cancel</button>
    <button class="submit_button" onclick="closeForm('update_puzzle_form')" type="submit">Update</button>
</fieldset>
</form>

<script src="{% static 'puzzles/chat.js' %}"></script>
<script>
    function showForm(formId) {
      // Get all forms
      var forms = document.querySelectorAll('.popup_form');
      // Loop through forms and hide them
      forms.forEach(function(form) {
        form.style.display = 'none';
      });
      // Show the selected form
      var selectedForm = document.getElementById(formId);
      if (selectedForm) {
        selectedForm.style.display = 'block';
      }
    }

    function closeForm(formId) {
      var selectedForm = document.getElementById(formId);
      if (selectedForm) {
        selectedForm.style.display = 'none';
      }
    }

    function openTab(evt, tabId) {
      var i, tabcontent, tablinks;

      tabcontent = document.getElementsByClassName("puzzle_tab_content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("puzzle_tab_link");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(tabId).style.display = "block";
      evt.currentTarget.className += " active";
    } 

    document.getElementById("default_tab").click();

    // Chat initialization
    const puzzleId = "{{ puzzle.id }}";
    initChat(puzzleId);
</script>
{% endblock %}