#puzzle-page-body {
  display: flex;
  width: 100%;
  height: 100vh;
}

#puzzle-tab-content-container {
  flex: 5 1 0;
}

#chat-sidebar {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  /*
    for flex items, the default min-width value of auto means that the
    content (e.g. long words in latex) can affect the width of the sidebar.
    set it to 0 to prevent this behavior
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/min-width#auto
  */
  min-width: 0;
}

#chat-log {
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  padding: 6px 8px;
}

#chat-bottom-bar {
  flex: 0 0 auto;
  display: flex;
  padding: 6px;
}

#chat-message-input {
  flex: 1 1 0;
}

#chat-message-submit {
  flex: 0 0 auto;
}

.chat-msg {
  margin-bottom: 8px;
}

.chat-msg-user {
  font-weight: bold;
  color: var(--blue);
}

.chat-msg-date {
  font-size: 75%;
  color: var(--overlay1);
}

.chat-msg-content {
  overflow: auto;
}

.chat-msg-content p {
  margin: 8px auto;
}

/* scrollbar styling */
@supports (scrollbar-color: auto) {
  #chat-log {
    scrollbar-color: var(--overlay1) transparent;
  }
}

@supports selector(::-webkit-scrollbar) {
  #chat-log::-webkit-scrollbar {
    background: transparent;
  }
  #chat-log::-webkit-scrollbar-thumb {
    background: var(--overlay1);
  }
}


