@font-face {
    font-family: "fairfaxhd";
    src:
        local("Fairfax HD"),
        local("Fairfax HD-Regular"),
        url("./fonts/FairfaxHD.ttf") format("truetype");
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: "fairfaxhd", sans-serif;
    font-size: 18px;
    margin: auto;
}

#content {
  margin: auto 8px;
}

input, select, button {
  border-style: solid;
  font-family: "fairfaxhd", sans-serif;
  background-color: inherit;
  color: inherit;
  border-color: var(--text);
  font-size: inherit;

  border-width: 2px;
  border-radius: 2px;
  border-style: solid;

  margin: 2px;
  padding: 2px;
}

button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

fieldset {
  border-color: inherit;
}


.icon svg {
  width: 100px;
  height: 100px;
}

.bigboard_number {
    font-size: 40px;
    font-weight: bold;
}

.countbox {
    border: 5px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.total_count {
  color: var(--rosewater);
}

.locked_count {
  color: var(--red);
}

.solved_count {
  color: var(--green);
}

.open_count {
  color: var(--yellow);
}

.meta_count {
  color: var(--lavender);
}

.answer {
  color: var(--green);
}

.meta_name {
  color: var(--lavender);
  border: 5px solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

.round_info {
  border: 5px solid;
  color: var(--text);
  margin: 15px;
  padding: 5px;
}

.wsiwo {
  color: var(--flamingo)
}

.puzzles_list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.puzzles_list a {
  margin: 0.5em;
}

.puzzle_info {
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.puzzle_info:hover {
  background-color: var(--mantle);
}

.puzzle_name {
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.meta_info {
  outline: double 6px;
}

.answer_line {
  width: 100%;
  border-top: 2px solid;
  color: inherit;
}

.new_puzzle_icon {
  min-height: 100%;
  flex-grow: 1;
  align-self: center;
}

.new_puzzle_icon svg {
  width: auto;
  height: calc(24px + 1em + 2px);
  color: var(--text);
}

/* TODO: prettier link colors maybe? */
a {
  text-decoration: none;
  color: var(--sapphire);
}

a:hover {
    color: var(--blue);
}

.new_puzzle_icon svg:hover {
  color: var(--surface2);
  cursor: pointer;
}

/* locked */
.status_LO {
  color: var(--red);
}

/* stuck */
.status_ST {
  color: var(--peach);
}

/* in progress */
.status_IP {
  color: var(--yellow);
}

/* now extract somehow */
.status_EX {
  color: var(--sky);
}

/* solved */
.status_SL {
  color: var(--green);
}

.cancel_button {
  color: var(--red);
  border-color: var(--red);
}

.cancel_button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

.submit_button {
  border-color: var(--green);
  min-height: 100%;
  color: var(--green);
  background-color: var(--base);
}

.submit_button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

.popup_form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_form fieldset {
  background-color: var(--base);
}

.popup_form legend {
  -webkit-text-stroke: 5px var(--base);
  paint-order: stroke fill;
}

.nav {
  font-size: 24px;
  background-color: var(--mantle);
  border-bottom: 2px solid var(--text); 
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}

.nav-right {
  text-align: right;
  padding-right: 16px
}

.hunt_info {
  font-size: 40px;
  border: 2px solid var(--text); 
  border-radius: 8px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 8px;
  margin: 8px;
}

.hunt_info:hover {
  background-color: var(--mantle);
}

.hunt_right {
  text-align: right;
}


.puzzle_tab {
  overflow: hidden;
  border: 1px solid var(--text);
  background-color: var(--base);
}

/* Style the buttons that are used to open the tab content */
.puzzle_tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.puzzle_tab button:hover {
  background-color: var(--mantle);
}

/* Create an active/current tablink class */
.puzzle_tab button.active {
  background-color: var(--surface2);
}

/* Style the tab content */
.puzzle_tab_content {
  display: none;
  border: 1px solid var(--text);
  border-top: none;
  height: 100%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip_text {
    visibility: hidden;
    max-width: 33vw; /* Maximum width to avoid being too wide */
    width: max-content;
    background-color: var(--crust);
    color: var(--text);
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--text);
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.1s;
}

.tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--text) transparent transparent transparent;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip_text {
    visibility: hidden;
    max-width: 33vw; /* Maximum width to avoid being too wide */
    width: max-content;
    background-color: var(--crust);
    color: var(--text);
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--text);
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.1s;
}

.tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--text) transparent transparent transparent;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}