/* =-=-=-=-=-=-= HOUSEKEEPING =-=-=-=-=-=-= */
@font-face {
  font-family: "fairfaxhd";
  src:
    local("Fairfax HD"),
    local("Fairfax HD-Regular"),
    url("./fonts/FairfaxHD.ttf") format("truetype");
}

:root {
  --border: solid 2px;
  --b-radius: 6px;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: "fairfaxhd", sans-serif;
  font-size: 18px;
  margin: auto;
}

#content {
  margin: auto 8px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.25em 0;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: var(--sapphire);
}

a:hover {
  color: var(--blue);
}

/* TODO i dont know what the fuck half of this is for */
input,
select,
button,
textarea,
code {
  background-color: inherit;
  color: inherit;
  border-color: var(--text);
  font-size: inherit;
  font-family: inherit;
  border: var(--border);
  border-radius: var(--b-radius);
  margin: 2px;
  padding: 5px;
  box-sizing: border-box;
}

input {
  background-color: var(--mantle);
}

code {
  border: 1px dotted var(--text);
  background-color: var(--crust);
  display: inline-block;
}

table,
th,
td {
  border: 1px solid var(--text);
}

table {
  border-collapse: collapse;
}

button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

fieldset {
  border-color: inherit;
}

/* =-=-=-=-=-=-= NAV =-=-=-=-=-=-= */
.nav {
  font-size: 24px;
  background-color: var(--mantle);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.5px 15px 18px;
  mask:
    radial-gradient(33.54px at 50% calc(100% - 45px), #000 99%, #0000 101%)
      calc(50% - 30px) 0/60px 100%,
    radial-gradient(33.54px at 50% calc(100% + 30px), #0000 99%, #000 101%) 50%
      calc(100% - 15px) / 60px 100% repeat-x;
}

.nav-right {
  text-align: right;
}

/* =-=-=-=-=-=-= PUZZLE STATS =-=-=-=-=-=-= */
.countboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.icon svg {
  width: 55px;
  height: 55px;
}

.bigboard_number {
  font-size: 40px;
  font-weight: bold;
  padding: 0 5px;
}

.countbox {
  border: var(--border);
  border-radius: var(--b-radius);
  background-color: var(--surface0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  width: 100%;
  max-width: 125px;
}

.total_count {
  --accent-color: var(--rosewater);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.locked_count {
  --accent-color: var(--red);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.solved_count {
  --accent-color: var(--green);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.open_count {
  --accent-color: var(--yellow);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.meta_count {
  --accent-color: var(--lavender);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.total_count:hover,
.locked_count:hover,
.solved_count:hover,
.open_count:hover,
.meta_count:hover {
  background-color: var(--accent-color, currentColor);
  color: var(--base);
  transition: 0.3s;
}

.meta_name {
  color: var(--lavender);
  border: 5px solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

/* =-=-=-=-=-=-= PUZZLES NAVIGATION =-=-=-=-=-=-= */
.round_info {
  border: var(--border);
  border-radius: var(--b-radius);
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--surface0);
  padding: 5px 5px 15px;
  width: 95%;
  max-width: 1200px;
  margin: 15px auto;
}

.wsiwo {
  color: var(--yellow);
}

.puzzles_list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.puzzle_info {
  border: var(--border);
  border-radius: var(--b-radius);
  border-style: solid;
  border-color: var(--accent-color, currentColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 0 0.25em;
  background-color: var(--mantle);
}

.puzzle_info:hover {
  background-color: var(--accent-color, currentColor);
  color: var(--mantle);
  transition: 0.3s;
}

.puzzle_name {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.meta_info {
  outline: double 6px;
}

.answer_line {
  width: 100%;
  border-top: 2px dotted;
  color: inherit;
  padding: 2px 0;
  box-sizing: border-box;
}

.answer {
  font-style: italic;
}

.new_puzzle_icon {
  min-height: 100%;
  align-self: center;
}

.new_puzzle_icon svg {
  width: auto;
  height: calc(24px + 1em + 2px);
  color: var(--text);
}

/* =-=-=-=-=-=-= PUZZLE STATUSES =-=-=-=-=-=-= */
/* TODO organize somewhere else */
.new_puzzle_icon svg:hover {
  color: var(--surface3);
  cursor: pointer;
}

.status_NS {
  --accent-color: var(--sapphire);
  color: var(--accent-color);
}

/* locked */
.status_LO {
  --accent-color: var(--red);
  color: var(--accent-color);
}

/* stuck */
.status_ST {
  --accent-color: var(--peach);
  color: var(--accent-color);
}

/* in progress */
.status_IP {
  --accent-color: var(--yellow);
  color: var(--accent-color);
}

/* extract */
.status_EX {
  --accent-color: var(--sky);
  color: var(--accent-color);
}

/* solved */
.status_SL {
  --accent-color: var(--green);
  color: var(--accent-color);
}

/* =-=-=-=-=-=-= NEW ROUND FORM =-=-=-=-=-=-= */
.add_new_round {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
  justify-content: center;
  padding-top: 15px;
}

/* =-=-=-=-=-=-= EDIT ROUND MENU =-=-=-=-=-=-= */
.popup_form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_form fieldset {
  background-color: var(--base);
}

.popup_form legend {
  -webkit-text-stroke: 5px var(--base);
  paint-order: stroke fill;
}

/* todo combine */
.cancel_button {
  color: var(--red);
  border-color: var(--red);
}

.cancel_button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

.submit_button {
  border-color: var(--green);
  min-height: 100%;
  color: var(--green);
  background-color: var(--base);
}

.submit_button:hover {
  background-color: var(--mantle);
  cursor: pointer;
  user-select: none;
}

/* =-=-=-=-=-=-= IDK WHAT THIS IS TO BE HONEST =-=-=-=-=-=-= */
.hunt_info {
  font-size: 40px;
  border: 2px solid var(--text);
  border-radius: 8px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 8px;
  margin: 8px;
}

.hunt_info:hover {
  background-color: var(--mantle);
}

.hunt_right {
  text-align: right;
}

/* =-=-=-=-=-=-= HOVER TOOLTIP =-=-=-=-=-=-= */
.tooltip {
  position: relative;
}

.tooltip .tooltip_text {
  visibility: hidden;
  max-width: 33vw;
  width: max-content;
  background-color: var(--text);
  color: var(--mantle);
  font-style: italic;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip_text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--text) transparent transparent transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
